.card {
    width: 75px;
    /* margin: 2em; */
    margin: 0em 2em 2em 2em;
    transition: transform 0.2s ease-in;
}

.cardSelected {
    border: 2px solid thistle;
    border-radius: 10px;
    transform: scale(1.3);
    /* transition: 1s; */
}

.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow: visible;
}

.table-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
}

/*Players*/
.player1,
.player2,
.player3,
.player4,
.trump {
    position: relative;
}

.player1 {
    bottom: 100px;
}

.player2 {
    left: 275px;
    transform: rotate(-90deg);
}

.player3 {
    top: 135px;
}

.player4 {
    bottom: 300px;
    right: 275px;
    transform: rotate(90deg);
}

.player-name {
    font-family: 'Montserrat';
    font-weight: 500;
    /* font-size: 15px; */
    color: black;
}

.warningsAtCenter {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 125px;
    font-size: 25px;
    background: yellow;
    opacity: 0;
}

@keyframes changesOpacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.changesOpacity {
    animation: changesOpacity 2s ease forwards;
}

.trump {
    bottom: 450px;
}

.trump>img {
    width: 90px;
}